@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 40px;
    gap: 40px;
    background-color: #003333;
}

h2{
    color: aliceblue;
    display: flex;
    align-items: center;
    font-size: 35px;
}

h2 img{
    margin-left: 20px;
}

.AddList{
    width: 100%;
    max-width: 800px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    border: none;
    padding-left: 20px;
    box-shadow: 2px 2px 10px black;
}

#InputArea{
    flex: 1;
    border: none;
    outline: none;
    background-color: white;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

#Add{
    border: none;
    outline: none;
    padding: 16px 50px;   
    background-color: #0c595d;
    color:white;
    border-radius: 30px;
    font-size: 17px;
    box-shadow: 2px 2px 10px black;
    cursor: pointer;
}

.AddTask{
    width: 100%;
    display: flex;
    justify-content: center;
}

ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    width: 100%;
    height: 100%;
    max-width: 700px;
    overflow: auto;
}

li{
    width: 90%;
    height: 10%;
    background-color: white;
    list-style: none;
    padding: 12px 50px;
    border-radius: 30px;
    color: #344141;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
    position: relative;
}

li::before{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-image: url("circle.jpg");
    background-size: cover;
    border-radius: 20px;
    margin-top: 3px;
    left: 20px;
    background-position: center;
}

.checked{
    color: #555;
    text-decoration: line-through;
    background-color: aquamarine;
}

.checked::before {
    background-image: url("checked.png");
}

li span{
    position: absolute;
    right: 10px;
    top: 8px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    color: #344141;
    border-radius: 50%;
}

li span:hover {
    background-color: #55555547;
}